body{
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.a{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}
.left{
    position: relative;
    background: #044700;
    padding: 45px; 
}
.Profiletxt{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.Profiletxt .imgbox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}
.Profiletxt .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Profiletxt h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.Profiletxt h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 40px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px;
        cursor: pointer;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px;
}
.contactInfo ul li .Icon{
    display: inline-block;
    font-size: 18px;
    color: aqua ;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}
.contactInfo.education li{
    margin-bottom: 15px;
}
.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2){
    color: #fff ;
    font-weight: 500;

}
.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
}
.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: whitesmoke;
    display: block;
    margin-top: 5px;
}
.contactInfo.contactInfo.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}





.right{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;

}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .yearcompany{
    min-width: 150px;
}
.about .box .yearcompany h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;

}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}